/* google fonts - poppins and inter */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;900&family=Poppins:wght@300;400;500;700;900&display=swap");
*,
html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* Timileyin  */

/* Olajuwon  */

/* Miracle  */
.website_container {
  width: 100%;
  height: 80vh;
}

.website_wrapper {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
  gap: 10px;
}

.website_text {
  width: 50%;
  height: auto;
  padding: 0 60px;
}

.website_hd_txt {
  font-weight: 800;
  font-size: 48px;
  padding: 10px 0;
  width: 445px;
}

.website_p_txt {
  font-size: 18px;
  width: 380px;
  margin-top: 10px;
}

.brand_icons {
  width: 50%;
}

.icon_holder {
  width: 80%;
  display: grid;
  margin: auto;
  margin-right: inherit;
  grid-template-columns: 33.3% 33.3% 33.3%;
  grid-template-rows: 100px auto;
  flex-wrap: wrap;
  row-gap: 10px;
  column-gap: 20px;
}

.col {
  margin: auto;
}

.contact_div {
  max-width: 88%;
  height: 422px;
  margin: auto;
  padding: 10px 0;
  background: #f3f7fc;
  border-radius: 16px;
  position: relative;
}

.contact_icon1 {
  position: absolute;
  width: 35px;
  height: 35px;
  top: 0;
  left: 614px;
}

.contact_icon2 {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 267px;
  left: -27px;
}

.contact_icon3 {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 316px;
  right: -15px;
}

.contact_body {
  margin: auto;
  width: 80%;
  height: 10em auto;
  text-align: center;
  padding: 40px 0;
}

.contact_hd {
  font-size: 64px;
  width: 60%;
  margin: auto;
}

.whatsapp_wrapper {
  width: 208px;
  height: 48px;
  padding: 15px 0;
  cursor: pointer;
  margin-top: 40px;
  border-radius: 8px;
  margin-left: auto;
  margin-right: auto;
  background-color: #b00000;
}

.whatsapp_icon {
  color: white;
  align-items: center;
  margin: auto;
  text-decoration: none;
}

.fa {
  width: 20px;
  height: 20px;
  margin: 3px;
  color: white;
}

.footer_container {
  width: 100%;
  height: 54vh;
  margin-top: 140px;
  background-color: #b00000;
}

.footer_content {
  width: 90%;
  height: 320px;
  display: flex;
  margin: auto;
  padding: 60px 10PX;
  justify-content: space-between;
}

.row_md1,
.row_md2,
.row_md3,
.row_md4,
.row_md5,
.row_md6 {
  width: auto;
  height: auto;
}

.row_md6 {
  width: 85%;
  margin: auto;
}

.footer_hd {
  width: 25%;
  height: 240px;
  color: #e6e6e6;
  font-size: 16px;
  font-weight: lighter;
  margin-top: 10px;
}

.hd_text {
  color: white;
  font-size: 16px;
}

.footer_row_text {
  margin-top: 20px;
}

.ft_link {
  color: #e6e6e6;
  font-weight: lighter;
  font-size: 14px;
  text-decoration: none;
}
.ft_text {
  color: #e6e6e6;
}

.ft_flex{
  width:65%;
  display: flex;
  justify-content: space-between;
}
/* Media Query */

@media screen and (max-width: 767px) {
  .website_container {
    width: 100%;
    height: auto;
  }
  .website_wrapper {
    display: block;
    width: 100%;
  }
  .website_text{
    width: 100%;
  }
  .website_hd_txt {
    width: 84%;
    text-align: center;
    margin: auto;
  }
  .website_p_txt{
    width: 62%;
    margin: auto;
    text-align: center;
  }
  .brand_icons{
    width: 100%;
  }
  .icon_holder {
    padding: 0px;
    margin: auto;
  }
  .contact_body,.contact_div{
    width: 100%;
    padding: 0 60px;
    height: 350px;
    padding: 0px;
  }
  .contact_hd{
    font-size: 40px;
    padding: 40px 0;
    text-align: center;
  }
  .contact_icon1{
    position: absolute;
    width: 30px;
    height: 30px;
    top: 0;
    left: 284px;
  }
  .contact_icon2{
        width: 30px;
    height: 30px;
    position: absolute;
    top: 242px;
    left: -18px;

  }
  .contact_icon3{
    position: absolute;
    top: 255px;
    right: -7px;
}
.footer_container{
  width: 100%;
  height: auto;
  margin-top: 50px;
}
.row_md6{
  width: 100%;
  padding: 0 20px;
}
.footer_content{
 width: 100%;
    height: 260px;
    padding: 20px;
    display: flex;
    flex: auto;
    justify-content: space-between;
}
.mobile_ft_hd{
  width: 267px;
}
.footer_hd{
      width: 100%;
    height: 100px;
}
.ft_flex{
  width: 50%;
  padding: 0 0 40px;
}
}
@media screen and (max-width: 430px) {
  .website_container {
    display: block;
  }
  .website_wrapper {
    display: block;
  }
  .website_text {
    width: auto;
  }
  .website_text {
    margin: 0;
    padding: 0;
    width: 100%;
  }
  .brand_icons {
    width: 100%;
    height: auto;
  }
  .contact_div {
    width: 100%;
    height: auto;
  }

  .contact_hd {
    font-size: 18px;
  }
  .contact_icon1 {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 0px;
    left: 146px;
  }
  .contact_icon2 {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 156px;
    left: -14px;
  }
  .contact_icon3 {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 181px;
    right: -5px;
  }
  .brand_icons {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
  }
  .icon_holder {
    margin: 0;
    padding: 0;
  }

  .col,
  .brand_img {
    width: 100px;
    height: 70px;
    gap: 10px 10px;
    margin: auto;
    border: 1px solid;
  }
  .footer_container {
    display: block;
    width: 100%;
    height: auto;
    padding: 25px 10px;
  }
  .footer_content {
    display: block;
    height: auto;
    width: 100%;
  }
  .mobile_ft_hd {
    height: 216px;
  }
  .footer_hd {
    width: 100%;
  }
  .ft_flex {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    flex: auto;
  }
}
